Package: com.isteveo.stocker13
Name: Stocker13
Version: 0.5-beta
Architecture: iphoneos-arm
Description: Simple & mostly stock looking.
 Some production icons are ugly, don’t fit the color pallet, or just don’t sit well within the general symmetry of the iOS home screen.
 I aim to fix this with Stocker13!
 DISCLAIMER:
 This is made by me, for me, with no intent to redistribute, and may contain copyrighted material.
Depiction: https://isteve-o.github.io/resources/Stocker13.html
Author: iSteve-O <isteveo.ipa@gmail.com>
Maintainer: iSteve-O <isteveo.ipa@gmail.com>
Section: Themes
Tag: purpose::uikit
Depends: com.anemonetheming.anemone | com.spark.snowboard

