Package: com.chris.matteterm
Priority: extra
Section: iApps
Maintainer: insanelyi <noreply@insanelyi.com>
Architecture: iphoneos-arm
Version: 1.0beta1.4.1
Depends: coreutils, firmware (>= 8.0)
Description: The best mobile terminal emulator ever!
 Initial code base and project from White Terminal by @CodeHex. Reworked and updated into MatteTerm by me, @ChrisOSX, the creator of the insanelyi forum application.
Name: MatteTerm
Author: @ChrisOSX
Sponsor: insanelyi <http://insanelyi.com>
Depiction: http://repo.insanelyi.com/depiction.php?package=matteterm
Tag: purpose::chris
Icon: file:///Applications/MatteTerm.app/MatteIcon.png
